@model IEnumerable<EmployeeEvaluationSystem.MVC.Models.ReportGenerationViewModel>
@{
    ViewBag.Title = "Create Report";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.CohortUserId, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m., new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CohortUserId, new { @class = "form-control" })
            </div>
        </div>
        
        <table class="table">
            <caption style="font-size:20px">Select an Employee for the Report</caption>
            <tr>
                <th>
                    <strong>Select</strong>
                </th>
                <th>
                    <strong>Employee Name</strong>
                </th>                                               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ids" value="@item" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.CohortUserId)
                    </td>                   
                </tr>
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Create" />
            </div>
        </div>
    </div>
}