@model IEnumerable<EmployeeEvaluationSystem.MVC.Models.ReportGenerationViewModel>
@{
    Layout = null;
    //ViewBag.Title = "Employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body{
            font-family: Arial;
            font-size: 11pt;
        }
    </style>
</head>
<body>
    <h3>Employee Evaluation Report</h3>
    <hr/>
    <div id="Report">
        <table cellpadding="5" cellspacing="0" style="border: 2px solid #ccc; font-size: 11pt;">
            <tr>
                <th style="background-color: lightslategray; border: 2px solid #ccc"></th>
                <th style="background-color: lightslategray; border: 2px solid #ccc">Self</th>
                <th style="background-color: lightslategray; border: 2px solid #ccc">Supervisor</th>
                <th style="background-color: lightslategray; border: 2px solid #ccc">Average Co-worker</th>
                <th style="background-color: lightslategray; border: 2px solid #ccc">Average Supervisees</th>
                <th style="background-color: lightslategray; border: 2px solid #ccc">Average</th>
            </tr>
                
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:120px; border: 2px solid #ccc">@item.QuestionId.QuestionID</td>
                    <td style="width:120px; border: 2px solid #ccc">@item.SelfEvaluationResult</td>
                    <td style="width:120px; border: 2px solid #ccc">@item.SupervisorEvaluationResult</td>
                    <td style="width:120px; border: 2px solid #ccc">@item.CoworkerAverage</td>
                    <td style="width:120px; border: 2px solid #ccc">@item.SuperviseeAverage</td>
                    <td style="width:120px; border: 2px solid #ccc">@item.OverallAverage</td>
                </tr>
            }
        </table> 
    </div>
    <br/>
    <br/>
    @using (Html.BeginForm("Export", "Report", FormMethod.Post))
    {
        <input type="hidden" name="TableHtml"/>
        <input type="submit" id="submitBtn" value="Export"/>
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("submitBtn").click(function () {
                $("ipnput [name='TableHtml']").val($("#Report").html());
            });
        });
    </script>
</body>
</html>
