@model EmployeeEvaluationSystem.Entity.SharedObjects.Model.Authentication.PersonalCohortPermissionViewModel

@{
    ViewBag.Title = "Cohort Permission Details";
}

<h2>Cohort Permission Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cohort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cohort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Cohort Permissions", "Index")
</p>
