@model EmployeeEvaluationSystem.Entity.CohortPermission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CohortPermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CohortPermissions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CohortPermissions.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPermissions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPermissions.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyPermissions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyPermissions.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportPermissions.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportPermissions.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
