@model IEnumerable<EmployeeEvaluationSystem.Entity.SharedObjects.Model.Authentication.PersonalCohortPermissionViewModel>

@{
    ViewBag.Title = "Cohort Permissions";
}

<h2>Cohort Permissions</h2>

<p>
    @Html.ActionLink("Create Cohort Permission", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <strong>Cohort</strong>
        </th>
        <th>
            <strong>User</strong>
        </th>
        <th>
            <strong>Survey</strong>
        </th>
        <th>
            <strong>Report</strong>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cohort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Report)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
            @Html.ActionLink("Details", "Details", new {id = item.ID}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ID})
        </td>
    </tr>
}

</table>
