@model EmployeeEvaluationSystem.MVC.Models.ConfirmEmailViewModel

@{
    ViewBag.Title = "Setup Account";
}

<h2>Setup Account</h2>
<h4>To finish setting up your account, please enter a password.</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.emailCode)
        @Html.HiddenFor(model => model.userId)
        <div class="form-group">
            <label class="col-md-2">
                Password
            </label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">
                Confirm Password
            </label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
