@model EmployeeEvaluationSystem.MVC.Models.Survey.SurveyPageViewModel

@{
    ViewBag.Title = "Survey";
}

<script type="text/javascript">
    (function () {
        SurveyHelper = {};

        SurveyHelper.UpdatePostID = function (id, val) {
            debugger;
            if(id == null){
                return;
            }

            id.value = val;
            //var element = document.getElementById(id);
            //element.value = val;
        };



    })();
</script>


<h2>Category @Model.Category.Name</h2>
<p>@Model.Category.Description</p>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-9">Question:</label>
            <div class="col-md-3"><b>Response:</b></div>
            @Html.HiddenFor(model => model.SurveyInstanceId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.Category.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        @for (var i = 0; i < Model.Questions.Count; i++)
        {
            <div class="form-group">
                <div class="col-md-9">@(Model.Questions[i].Question.DisplayText)</div>
                <div class="col-md-3">
                    @Html.HiddenFor(model => model.Questions[i].Question.Id);
                    @if (Model.Questions[i].Question.QuestionType.IsRating)
                    {
                        @Html.HiddenFor(model => model.Questions[i].Answer.ResponseNum)
                        @Html.Hidden($"Answer{i}", Model.Questions[i].Answer.ResponseNum)
                        <div>
                            @for (var j = Model.Questions[i].Question.QuestionType.RatingMin; j <= Model.Questions[i].Question.QuestionType.RatingMax; j++)
                            {
                                <label class="surveyLabel">
                                    <input class="surveyRadioInput" type="radio" name="@($"radioset{Model.Questions[i].Question.Id}")" id="@($"question-{Model.Questions[i].Question.Id}-{j}")" value="@j"
                                           onclick="SurveyHelper.UpdatePostID(@($"Questions_{i}__Answer_ResponseNum"), @j)" />
                                    @if (Model.Questions[i].Question.QuestionType.RatingMin == j || Model.Questions[i].Question.QuestionType.RatingMax == j)
                                    {
                                        @j
                                    }
                                    else {
                                        @:&nbsp;
                                    }
                                </label>
                            }
                        </div>
                    }
                    else
                    {
                        @("An unknown error has occured. Please refresh the page")
                    }
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next Page" class="btn btn-default" />
            </div>
        </div>
    </div>
}
