@model EmployeeEvaluationSystem.Entity.SharedObjects.Model.Authentication.UserHubIndexViewModel

@{
    ViewBag.Title = "User Hub";
}

<h2>User Hub</h2>

<table class="table">
    <caption>Pending Surveys</caption>

    @if (Model.PendingSurveys.Any() == true)
    {

        <tr>
            <td>
                <strong>Survey</strong>
            </td>
            <td>
                <strong>Date Available</strong>
            </td>
            <td>
                <strong>Due Date</strong>
            </td>
            <td></td>
        </tr>

        foreach (var item in Model.PendingSurveys)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurveysAvailable.Survey.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveysAvailable.DateOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveysAvailable.DateClosed)
        </td>
        <td>
            <input type="button" value="Start Survey" onclick="window.location.href='@Url.Action("SurveyPage", "Survey", new { pendingSurveyId = item.Id })';" />
        </td>
    </tr>
}
    }
    else
    {
        <tr>
            <td>
                <strong>
                    You currently have no pending surveys.
                </strong>
            </td>
        </tr>
    }

</table>

<table class="table">
    <caption>Completed Surveys</caption>

@if (Model.FinishedSurveys.Any() == true)
{
    <tr>
        <td>
            <strong>Survey</strong>
        </td>
        <td>
            <strong>Date Available</strong>
        </td>
        <td>
            <strong>Due Date</strong>
        </td>
    </tr>

    foreach (var item in Model.FinishedSurveys)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveysAvailable.Survey.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveysAvailable.DateOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveysAvailable.DateClosed)
            </td>
            <td>
                @Html.ActionLink("Show Categories", "Index", new { pendingSurveyID = item.Id })
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td>
            <strong>
                You currently have no finished surveys.
            </strong>
        </td>
    </tr>
}
</table>

@if (Model.Categories != null)
{
    <table class="table">
        <caption>Survey Categories</caption>
        <tr>
            <th>
                <strong>Category</strong>
            </th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Show Questions", "Index", new { pendingSurveyID = ViewBag.PendingSurveyID, categoryID = item.ID })
                </td>
            </tr>
        }

    </table>
}

@if (Model.Questions != null)
{
    <table class="table">
        <caption>Category Questions</caption>
        <tr>
            <th>
                <strong>Question</strong>
            </th>
            <th>
                <strong>Answer</strong>
            </th>
        </tr>

        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @item.Item1.DisplayText
                </td>
                <td>
                    @item.Item2.ResponseNum
                </td>
            </tr>
        }

    </table>
}